.task__container{
    margin-bottom: 10px;
}

.tasks__container__box{
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 44, 44);
    width: 539px;
    margin: auto;
    text-align: start;
    border-radius: 5px;
     
}
.tasks__container_text{
    color: white;
    width: 400px; 
}

.trash__icons{
    color:  rgb(113, 110, 110);
    font-size: 22px;
    padding-right: 12px;
    cursor: pointer;
    border-radius: 5px;
}
button{
    background-color: rgb(45, 44, 44) ;
    border: none;
    border-radius: 5px;

}
.buttonoff__icon{
    color: #2595E7;
    font-size: 20px;
    position: relative;
    left: 10px;
}
.buttonon__icon{
    color:#6E31B8  ;
    font-size: 20px;
    position: relative;
    left: 10px;
    
}

@media (max-width:647px){
    .tasks__container__box{
        width: 518px;
    }
}
@media (max-width: 588px){
    .tasks__container__box {
    width: 462px;
}
   .tasks__container_text {
    width: 350px;
}
}
@media (max-width:515px){
    .tasks__container__box {
        width: 414px;
    }
    .tasks__container_text {
        width: 300px;
    }
}


@media (max-width: 491px){
.tasks__container__box {
    width: 345px;
}
.tasks__container_text {
    width: 226px;
}

}
@media (max-width:425px){
    .tasks__container__box {
        width: 325px;
    }
    .tasks__container_text {
        width: 210px;
    }
}
@media (max-width:384px){
    .tasks__container__box {
        width: 260px;
    }
    .tasks__container_text {
        width: 158px;
    }
}
@media (max-width:320px){
    .tasks__container__box {
        width: 191px;
    }
    .tasks__container_text {
        width: 92px;
    }
}