.form_container{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
    width: 590px;
    margin: auto;
}

.input{
     border: none;
     border-radius: 5px;
     padding: 10px 0px 10px 15px;
     margin-right: 5px;
     color: rgb(113, 110, 110);
     background-color: rgb(45, 44, 44);
     width: 79%;
    
     
     
}
.button{
    background-color:#2595E7;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px 4px 10px 6px;
    width: 100%;
}
.plus__icons{
    color: white;
    position: relative;
    top: 2px;
    left: 2px;
    font-size: 13px;
}




@media (max-width: 647px){ 
    .form_container{
       width: 100%;
    }
}
@media (max-width:501px){
    .form_container{
        width: 100%;
    }
    .button{
        width: 65px;
    }
}




