.form_container{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60px;
}
.input{
     border: none;
     border-radius: 5px;
     width: 450px;
     padding: 10px 0px 10px 15px;
     margin-right: 5px;
     color: rgb(113, 110, 110);
     background-color: rgb(45, 44, 44);
    
     
     
}
.button{
    background-color:#2595E7;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px 18px 10px 0px;
}
.plus__icons{
    color: white;
    position: relative;
    top: 2px;
    left: 56px;
    font-size: 13px;
}

