.container{
    height: 100vh;
    box-sizing: border-box
}
.container_box{
    background-color: #121111;
    padding: 50px;
}
.container_box__tasks{
    display: flex;
    justify-content: space-evenly;
   
   
}

.title{
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
}
.title_background{
    background-color: rgb(7, 7, 7);
    padding: 5px;
}
.rocket__icon{
    color:#2595E7;
    position: relative;
    top:5px;
    right: 5px;
    font-size: 30px;
}
.input_container__box__create{
   
    color: #2595E7;
    font-weight: bold;
}
.input_container__box__done{
    color: #6E31B8  ;
    font-weight: bold;
}

.input_container__box{
    display: flex;
}
.button_numb{
    color: white;
    
 }