.container{
    height: 100vh;
    box-sizing: border-box;
    background-color: #121111;

}
.container_box{
    padding-left: 15px;
    padding-right: 15px;
}
.container_box__tasks{
    display: flex;
    justify-content: space-between;
    width: 539px;
    margin: auto;
  
    
}
.container_box__tasks__numb{
    display: flex;
}
.tasks__numb{
    background-color: rgb(45, 44, 44);
    color: white;
    padding: 2px 17px;
    margin-left: 8px;
    border-radius: 15px;
}
.title{
    text-align: center;
    padding-right: 30px;
}
.title_background{
    background-color: rgb(7, 7, 7);
    padding: 25px;
}
.rocket__icon{
    color:#2595E7;
    position: relative;
    top:5px;
    right: 5px;
    font-size: 30px;
}
.input_container__box__create{
   
    color: #2595E7;
    font-weight: bold;
}
.input_container__box__done{
    color: #6E31B8  ;
    font-weight: bold;
    
}

.input_container__box{
    display: flex;
}



@media (max-width:647px){
    .container_box__tasks{
        width: 100%;
    }
}
@media (max-width: 501px){
    .container_box__tasks {
        width: 100%;
    }
}
@media (max-width: 412px){
    .container_box__tasks{
        display: block;
    }

}



    
