.container{
    background-color: rgb(20, 19, 19);
    color: white;
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 20px;

}
.ucenik{
    font-family: inherit;
    font-size: 20px;
    font-weight: 200;


}
.info{
    color: aqua;
    font-size: 17px;
    font-family: inherit;
    font-weight: 200;
}